<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Job</h3>
      </div>
      <div class="modal-body">
        <form  [formGroup]="jobForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Title</label>
            <input
              type="text"
               required
              name="title"
              class="form-control"
              placeholder="Enter a title"
              [formControlName]="'title'"
            />
            <span
            *ngIf="
              !jobForm.get('title')?.valid &&
              jobForm.get('title')?.touched
            "
            class="help-block"
          >
            Please enter valid title
          </span>
          </div>
          <div class="form-group">
            <label>Category</label>
            <select
              name="category"
              [formControlName]="'category'"
              class="form-control">
              <option value="All">All</option>
              <option value="Front End">Front End</option>
              <option value="Back End">Back End</option>
              <option value="Full Stack">Full Stack</option>
  
            </select>
            <span class="help-block" *ngIf="jobForm.get('category')?.hasError('categoryInvalid') && jobForm.get('category')?.touched">
              Por favor, selecciona una opción válida en la categoría.
            </span>
          </div>
  
          <div class="form-group mt-2">
            <label>Company</label>
            <input
              type="company"
              name="company"
              required
              class="form-control"
              placeholder="Enter a company"
              [formControlName]="'company'"
             
            />
            <span
            *ngIf="
              !jobForm.get('company')?.valid &&
              jobForm.get('company')?.touched
            "
            class="help-block"
          >
            Please enter valid company
          </span>
            
          </div>
         
          <div class="form-group mt-2">
            <label>Salary Range</label>
            <input
              type="salary"
              name="salary"
              required
              class="form-control"
              placeholder="6000-6500"
              [formControlName]="'salary'"
             
            />
            <span
            *ngIf="
              !jobForm.get('salary')?.valid &&
              jobForm.get('salary')?.touched
            "
            class="help-block"
          >
            Please enter valid range salary
          </span>
            
          </div>
         
          <div class="form-group mt-2">
            <label>Location</label>
            <input
              type="location"
              name="location"
              required
              class="form-control"
              placeholder="Enter a location"
              [formControlName]="'location'"
             
            />
            <span
            *ngIf="
              !jobForm.get('location')?.valid &&
              jobForm.get('location')?.touched
            "
            class="help-block"
          >
            Please enter valid location
          </span>
            
          </div>
         
          <div class="form-group mt-2">
            <label>Description</label>
            <textarea
              type="description"
              name="description"
              required
              class="form-control"
              placeholder="Enter a description"
              [formControlName]="'description'"
             
              ></textarea>
            <span
            *ngIf="
              !jobForm.get('description')?.valid &&
              jobForm.get('description')?.touched
            "
            class="help-block"
             >
            Please enter valid description
          </span>
            
          </div>
        <!-- <input type="text" [value]="jobs[0].id">--> 
          <button type="submit" class="btn btn-primary mt-4" [disabled]="jobForm.invalid">Submit</button>
          <button type="button" class="btn btn-primary mt-4 button-d" data-dismiss="modal">Close</button>
          
          <p>{{mensaje}}</p>
        
        </form>
      </div>
    
    </div>
    
  </div>
</div>
