<div class="container mt-5">
  <h4>Job List</h4>
  <button type="button" class="btn btn-primary button-i" data-toggle="modal" data-target="#myModal">New Job</button>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Category</th>
        <th>Company</th>
        <th>Salary</th>
        <th>Location</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let job of jobs">
        <td>{{ job.data.title }}</td>
        <td>{{ job.data.category }}</td>
        <td>{{ job.data.company }}</td>
        <td>{{ job.data.salary }}</td>
        <td>{{ job.data.location }}</td>
        <td>{{ job.data.description }}</td>
        <td>
          <button type="button" (click)="updateJob(job.id)" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Update</button>
          <button class="btn btn-primary btn-sm button-d" (click)="deleteJob(job.id)">Delete</button>
        </td>
       </tr>
    </tbody>
  </table>

</div>

<!-- Modal -->
<app-job></app-job>
